extends layout
block content
  
    .index
      header
        .logo
          a(href='/')
            img(src="img/logo.png")
        .form
          p.error(style="color:red;") #{message}
          form(method="post" action="/login")
            input( type='text' name='email' placeholder='Email ose Nr telefoni' id='email')
            input( type='password' name='password' placeholder='Password' id='password')
            button(type='submit' id='kycu')="Login"
            span ose
          a(href='/register/student' id='regjistrohu') Rregjistrohu
      .hero
          .hero-image
          .text
            h2 Edukimi pertej auditorit
            p Qendro i lidhur dhe i informuar ne cdo moment
            p ne lidhje me aktivitetin mesimor
          .buttona
            a(href='register/student' id='student') Per Studentet
            a(href='/register/profesor' id='fakulteti') Per Fakultetin
      footer
