extends layout
block content

  body
    .post
      header
        .logo
          a(href='/home')
            img(src="/img/logo2.png")
        .avatar
          span=User.name + " " + User.surname
          img(src='/img/avatar.png')
          .logout
            a(href="/logout")
              | logout
    .posts-container