each post in Posts
  .blog-post
            .left-blog-post
              img(src="img/rectangle.png")
              br
              a(href='/user-post/#{post.author}')=post.author
              br
              span=post.date
              //- br
              //- span 31 March, 2016 
            .right-blog-post
              h3=post.text

              p=post.text
          .more-post
              a(href='#') Lexo me shume