extends layout
block content

  body
    .post
      header
        .logo
          img(src="img/logo2.png")
        .avatar
          span Egli Lilo
          img(src='img/avatar.png')
      .blog
        .blog-header
          span Posto nje njoftim
          a(href='#') Kthehu ne faqen kryesore
        .blog-form
          .blog-form-left
            textarea(rows="12" cols="50" placeholder='Permbajtja e njoftimit' id='njoftim')
          .blog-form-right
            span Posto tek: 
            input(list="viti_shkollor" name="viti_shkollor" placeholder='Viti' id="viti")
            datalist#viti_shkollor
              option(value='1')
              option(value='2')
              option(value='3')
            input(list="grupi" name="grupi" placeholder='Grupi' id="grupi_shkollor")
            datalist#grupi
              option(value='A1')
              option(value='A2')
              option(value='B1')
              option(value='B2')
            br
            span Njofto permes:
            input(list="njoftimi" name="njoftimi" placeholder='Njofto' id="njofto")
            datalist#njoftimi
              option(value='Email dhe SMS')
              option(value='Email')
              option(value='SMS')
        .blog-footer
          input(type='submit' action="/" method="post" name='posto' value='Posto' id='posto')
          input(type='submit' action='/' method='post' name='anullo' value='Anullo' id='anullo')